<div class="footer-container">
  <div class="footer-item"> 
    <h3 class="text-headline">Sobre mi</h3>
    <p>Product Owner</p>
    <p>Arquitecto Software</p>
    <p>Apasionado tecnología</p>
  </div>
  <div class="footer-item"> 
    <h3 class="text-headline">Ultimas noticias</h3>

  </div>
  <div class="footer-item"> 
    <h3 class="text-headline">Filosofía</h3>
    <a target="_blank"  rel="noopener" class="link" href="">You can do,<br />EVERYTHING</a>
  </div>
  <div class="footer-item"> 
    <h3 class="text-headline">Redes Sociales</h3>
    <div class="footer-container">
      <div class="social-footer-item">
        <a target="_blank" rel="noopener" href="https://twitter.com/dejesuscuesta">
          <img src="./assets/img/social_logos/logo_twitter.png">
        </a>
        <a target="_blank" rel="noopener" href="https://es.linkedin.com/in/jesuscuestaarza">
          <img src="./assets/img/social_logos/linkedin.png">
        </a>
        <a target="_blank" rel="noopener" href="https://github.com/jesuscuesta">
          <img width="60" height="60" src="./assets/img/social_logos/logo_github.png">
        </a>
      </div>
     
    </div>
  </div>
</div>